<form id="productForm" method="post">
    <label>Nombre</label>
    <input class="form-control" type="text" name="title" id="title"/>
    <label>Precio</label>
    <input class="form-control" type="number" name="price" id="price"/>
    <label>URL Foto</label>
    <input class="form-control" type="url" name="thumbnail" id="thumbnail"/>
    <button type="submit" class="btn btn-info my-3">Agregar</button>
</form>