<form action="/productos" method="post"  class="container col-sm-8">
  
  
  <div class="mb-3">
    <label for="name" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="name" name="title" required>
  </div>
  
  
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <input type="text" class="form-control" id="price" name="price" required>
  </div>

  <div class="mb-3">
    <label for="img" class="form-label">URL Foto</label>
    <input type="text" class="form-control" id="img" name="thumbnail" required>
  </div>


  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirmar</button>
  </div>
</form>